<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder" Name="PFiles">
				<Directory Id="INSTALLDIR" Name="$(var.ProductName)">
					<Directory Id="Templates" Name="Templates">
						<Component Id="ControlCenterTemplates"
								   Guid="E4F32756-3171-412C-B715-A5E87C641990"
								   KeyPath="yes">
							<CreateFolder />
							<File Id="x.gif"
								  Name="x.gif"
								  Source="$(var.SolutionDir)Front-end\Templates\x.gif"
								  DiskId="1" />
							<File Id="ServiceState.html"
								  Name="ServiceState.html"
								  Source="$(var.SolutionDir)Front-end\Templates\ServiceState.html"
								  DiskId="1" />
							<File Id="AddItemButton.png"
								  Name="AddItemButton.png"
								  Source="$(var.SolutionDir)Front-end\Icons\AddItemButton.png"
								  DiskId="1" />
							<File Id="AddItemButtonDisabled.png"
								  Name="AddItemButtonDisabled.png"
								  Source="$(var.SolutionDir)Front-end\Icons\AddItemButtonDisabled.png"
								  DiskId="1" />
							<File Id="EditItemButton.png"
								  Name="EditItemButton.png"
								  Source="$(var.SolutionDir)Front-end\Icons\EditItemButton.png"
								  DiskId="1" />
							<File Id="EditItemButtonDisabled.png"
								  Name="EditItemButtonDisabled.png"
								  Source="$(var.SolutionDir)Front-end\Icons\EditItemButtonDisabled.png"
								  DiskId="1" />
							<File Id="ArrowDownButton.png"
								  Name="ArrowDownButton.png"
								  Source="$(var.SolutionDir)Front-end\Icons\ArrowDownButton.png"
								  DiskId="1" />
							<File Id="ArrowDownButtonDisabled.png"
								  Name="ArrowDownButtonDisabled.png"
								  Source="$(var.SolutionDir)Front-end\Icons\ArrowDownButtonDisabled.png"
								  DiskId="1" />
							<File Id="ArrowUpButton.png"
								  Name="ArrowUpButton.png"
								  Source="$(var.SolutionDir)Front-end\Icons\ArrowUpButton.png"
								  DiskId="1" />
							<File Id="ArrowUpButtonDisabled.png"
								  Name="ArrowUpButtonDisabled.png"
								  Source="$(var.SolutionDir)Front-end\Icons\ArrowUpButtonDisabled.png"
								  DiskId="1" />
							<File Id="RemoveItemButton.png"
								  Name="RemoveItemButton.png"
								  Source="$(var.SolutionDir)Front-end\Icons\RemoveItemButton.png"
								  DiskId="1" />
							<File Id="RemoveItemButtonDisabled.png"
								  Name="RemoveItemButtonDisabled.png"
								  Source="$(var.SolutionDir)Front-end\Icons\RemoveItemButtonDisabled.png"
								  DiskId="1" />
							<File Id="RuleIcon.png"
								  Name="RuleIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\RuleIcon.png"
								  DiskId="1" />
							<File Id="RuleIconBig.png"
								  Name="RuleIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\RuleIconBig.png"
								  DiskId="1" />
							<File Id="AddRuleIcon.png"
								  Name="AddRuleIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\AddRuleIcon.png"
								  DiskId="1" />
							<File Id="AddRuleIconBig.png"
								  Name="AddRuleIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\AddRuleIconBig.png"
								  DiskId="1" />
							<File Id="EditRuleIcon.png"
								  Name="EditRuleIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\EditRuleIcon.png"
								  DiskId="1" />
							<File Id="EditRuleIconBig.png"
								  Name="EditRuleIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\EditRuleIconBig.png"
								  DiskId="1" />
							<File Id="GoRuleIcon.png"
								  Name="GoRuleIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\GoRuleIcon.png"
								  DiskId="1" />
							<File Id="GoRuleIconBig.png"
								  Name="GoRuleIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\GoRuleIconBig.png"
								  DiskId="1" />
							<File Id="RemoveRuleIcon.png"
								  Name="RemoveRuleIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\RemoveRuleIcon.png"
								  DiskId="1" />
							<File Id="RemoveRuleIconBig.png"
								  Name="RemoveRuleIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\RemoveRuleIconBig.png"
								  DiskId="1" />
							<File Id="WarningRuleIcon.png"
								  Name="WarningRuleIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\WarningRuleIcon.png"
								  DiskId="1" />
							<File Id="BloggerIcon.png"
								  Name="BloggerIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\BloggerIcon.png"
								  DiskId="1" />
							<File Id="HelpIcon.png"
								  Name="HelpIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\HelpIcon.png"
								  DiskId="1" />
							<File Id="HelpIconBig.png"
								  Name="HelpIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\HelpIconBig.png"
								  DiskId="1" />
							<File Id="BugIcon.png"
								  Name="BugIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\BugIcon.png"
								  DiskId="1" />
							<File Id="BugIconBig.png"
								  Name="BugIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\BugIconBig.png"
								  DiskId="1" />
							<File Id="CutIcon.png"
								  Name="CutIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\CutIcon.png"
								  DiskId="1" />
							<File Id="CutIconBig.png"
								  Name="CutIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\CutIconBig.png"
								  DiskId="1" />
							<File Id="CopyIcon.png"
								  Name="CopyIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\CopyIcon.png"
								  DiskId="1" />
							<File Id="CopyIconBig.png"
								  Name="CopyIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\CopyIconBig.png"
								  DiskId="1" />
							<File Id="PasteIcon.png"
								  Name="PasteIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\PasteIcon.png"
								  DiskId="1" />
							<File Id="PasteIconBig.png"
								  Name="PasteIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\PasteIconBig.png"
								  DiskId="1" />
							<File Id="LogIcon.png"
								  Name="LogIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\LogIcon.png"
								  DiskId="1" />
							<File Id="LogIconBig.png"
								  Name="LogIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\LogIconBig.png"
								  DiskId="1" />
							<File Id="PlayIcon.png"
								  Name="PlayIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\PlayIcon.png"
								  DiskId="1" />
							<File Id="PlayIconBig.png"
								  Name="PlayIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\PlayIconBig.png"
								  DiskId="1" />
							<File Id="StopIcon.png"
								  Name="StopIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\StopIcon.png"
								  DiskId="1" />
							<File Id="StopIconBig.png"
								  Name="StopIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\StopIconBig.png"
								  DiskId="1" />
							<File Id="GoProIcon.png"
								  Name="GoProIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\GoProIcon.png"
								  DiskId="1" />
							<File Id="GoProIconBig.png"
								  Name="GoProIconBig.png"
								  Source="$(var.SolutionDir)Front-end\Icons\GoProIconBig.png"
								  DiskId="1" />
							<File Id="KeyIcon.png"
								  Name="KeyIcon.png"
								  Source="$(var.SolutionDir)Front-end\Icons\KeyIcon.png"
								  DiskId="1" />
						</Component>
					</Directory>
					<Component Id="ModuleInet"
							   Guid="F2969690-BB3C-11DD-AD8B-0800200C9A66"
							   KeyPath="yes">
						<File Id="TexModInet$(var.TexFileNameSuffix).dll"
							  Name="TexModInet$(var.TexFileNameSuffix).dll"
							  Source="$(var.BinDir)TexModInet$(var.TexFileNameSuffix).dll"
							  DiskId="1" />
					</Component>
					<Component Id="ModulePathfinder"
							   Guid="0ACA2662-4202-11DF-97F9-CC4956D89593"
							   KeyPath="yes">
						<File Id="TexModPathfinder$(var.TexFileNameSuffix).dll"
							  Name="TexModPathfinder$(var.TexFileNameSuffix).dll"
							  Source="$(var.BinDir)TexModPathfinder$(var.TexFileNameSuffix).dll"
							  DiskId="1" />
					</Component>
					<Component Id="ModulePipe"
							   Guid="319E3590-BBA2-11DD-9E5B-F7D555D89593"
							   KeyPath="yes">
						<File Id="TexModPipe$(var.TexFileNameSuffix).dll"
							  Name="TexModPipe$(var.TexFileNameSuffix).dll"
							  Source="$(var.BinDir)TexModPipe$(var.TexFileNameSuffix).dll"
							  DiskId="1" />
					</Component>
					<Component Id="ModuleSerial"
							   Guid="05978DA3-B8D3-4DA8-A370-ED500B8C43CA"
							   KeyPath="yes">
						<File Id="TexModSerial$(var.TexFileNameSuffix).dll"
							  Name="TexModSerial$(var.TexFileNameSuffix).dll"
							  Source="$(var.BinDir)TexModSerial$(var.TexFileNameSuffix).dll"
							  DiskId="1" />
					</Component>
					<Component Id="ModuleUpnp"
							   Guid="6BD581D0-5E05-11DF-BEB9-13FCDED72085"
							   KeyPath="yes">
						<File Id="TexModUpnp$(var.TexFileNameSuffix).dll"
							  Name="TexModUpnp$(var.TexFileNameSuffix).dll"
							  Source="$(var.BinDir)TexModUpnp$(var.TexFileNameSuffix).dll"
							  DiskId="1" />
						<File Id="miniupnpc.dll"
							  Name="miniupnpc.dll"
							  Source="$(var.BinDir)miniupnpc.dll"
							  DiskId="1"
							  Vital="yes" />
					</Component>
					<Component Id="Service"
							   Guid="64D7DBB0-A9D3-478D-A265-B750DDC0BFB0">
						<File Id="TunnelEx$(var.TexFileNameSuffix).exe"
							  Name="TunnelEx$(var.TexFileNameSuffix).exe"
							  Source="$(var.BinDir)TunnelEx$(var.TexFileNameSuffix).exe"
							  DiskId="1"
							  Vital="yes"
							  KeyPath="yes" />
						<File Id="TexLegacy$(var.TexFileNameSuffix).dll"
							  Name="TexLegacy$(var.TexFileNameSuffix).dll"
							  Source="$(var.BinDir)TexLegacy$(var.TexFileNameSuffix).dll"
							  DiskId="1"
							  Vital="no" />
						<ServiceInstall Id="Service"
										Name="[ProductName]"
										Start="auto"
										Type="ownProcess"
										DisplayName="[ProductName]"
										ErrorControl="critical"
										Arguments="--service"
										Vital="yes" />
						<ServiceControl Id="ServiceControl"
										Name="[ProductName]"
										Start="install"
										Stop="uninstall"
										Remove="uninstall"
										Wait="yes" />
					</Component>
					<Component Id="ServiceControl"
							   Guid="6BC31B1E-F7C0-4355-BA73-8C0D148C418A"
							   KeyPath="yes">
						<File Id="ServiceConfiguration.xsd"
							  Name="ServiceConfiguration.xsd"
							  Source="$(var.SolutionDir)ServiceControl\ServiceConfiguration.xsd"
							  DiskId="1"
							  Vital="yes" />
					</Component>
					<Component Id="ControlCenter"
							   Guid="A25E48BA-9AB9-4057-9EF7-311895A928B3"
							   KeyPath="yes">
						<File Id="TunnelExControlCenter$(var.TexFileNameSuffix).exe"
							  Name="TunnelExControlCenter$(var.TexFileNameSuffix).exe"
							  Source="$(var.BinDir)TunnelExControlCenter$(var.TexFileNameSuffix).exe"
							  DiskId="1"
							  Vital="yes" />
					</Component>
					<Component Id="Core"
							   Guid="FDDA67D9-C451-4916-8AB8-6E53BFC29F91"
							   KeyPath="yes">
						<File Id="TunnelEx$(var.TexFileNameSuffix).dll"
							  Name="TunnelEx$(var.TexFileNameSuffix).dll"
							  Source="$(var.BinDir)TunnelEx$(var.TexFileNameSuffix).dll"
							  DiskId="1"
							  Vital="yes" />
						<File Id="RuleSet.xsd"
							  Name="RuleSet.xsd"
							  Source="$(var.SolutionDir)Core/RuleSet.xsd"
							  DiskId="1"
							  Vital="yes" />
					</Component>
					<Component Id="Libxml"
							   Guid="296FBA83-F358-44E5-9E6F-3E380AB9023A"
							   KeyPath="yes">
						<File Id="libxml2$(var.TexExternalsFileNameSuffix).dll"
							  Name="libxml2$(var.TexExternalsFileNameSuffix).dll"
							  Source="$(var.BinDir)libxml2$(var.TexExternalsFileNameSuffix).dll"
							  DiskId="1"
							  Vital="yes" />
					</Component>
					<Component Id="OpenSsl"
							   Guid="7399197E-E400-11DE-BC67-7AB055D89593"
							   KeyPath="yes">
						<File Id="libeay32.dll"
							  Name="libeay32.dll"
							  Source="$(var.BinDir)libeay32.dll"
							  DiskId="1"
							  Vital="yes" />
						<File Id="ssleay32.dll"
							  Name="ssleay32.dll"
							  Source="$(var.BinDir)ssleay32.dll"
							  DiskId="1"
							  Vital="yes" />
					</Component>
					<Component Id="Ace"
							   Guid="52B129F8-D56E-11DF-8792-1FF1DFD72085"
							   KeyPath="yes">
						<File Id="ACE$(var.TexFileNameSuffix).dll"
							  Name="ACE$(var.TexFileNameSuffix).dll"
							  Source="$(var.BinDir)ACE$(var.TexFileNameSuffix).dll"
							  DiskId="1"
							  Vital="yes" />
						<File Id="ACE_SSL$(var.TexFileNameSuffix).dll"
							  Name="ACE_SSL$(var.TexFileNameSuffix).dll"
							  Source="$(var.BinDir)ACE_SSL$(var.TexFileNameSuffix).dll"
							  DiskId="1"
							  Vital="yes" />
					</Component>
					<Component Id="MsFramework"
							   Guid="B0443780-29A1-4881-974B-2E6EEB0AA5BF"
							   KeyPath="yes">
						<File Id="Microsoft.VC80.$(var.MsManifestNameSuffix)CRT.manifest"
							  Name="Microsoft.VC80.$(var.MsManifestNameSuffix)CRT.manifest"
							  Source="$(var.MsFrameworkDir)Microsoft.VC80.$(var.MsManifestNameSuffix)CRT.manifest"
							  DiskId="1"
							  Vital="yes" />
						<File Id="msvcp80$(var.MsFileNameSuffix).dll"
							  Name="msvcp80$(var.MsFileNameSuffix).dll"
							  Source="$(var.MsFrameworkDir)msvcp80$(var.MsFileNameSuffix).dll"
							  DiskId="1"
							  Vital="yes" />
						<File Id="msvcr80$(var.MsFileNameSuffix).dll"
							  Name="msvcr80$(var.MsFileNameSuffix).dll"
							  Source="$(var.MsFrameworkDir)msvcr80$(var.MsFileNameSuffix).dll"
							  DiskId="1"
							  Vital="yes" />
					</Component>
					<Component Id="WebSiteShortcut"
							   Guid="82C4C7C8-00C6-11DD-BE2B-5ECF56D89593"
							   KeyPath="yes">
						<File Id="TunnelExWebSite.url"
							  Name="TunnelEx Web Site.url"
							  Source="$(var.SolutionDir)TunnelEx Web Site.url"
							  DiskId="1"
							  Vital="no" />
					</Component>
					<Component Id="ProgramHelpShortcut"
							   Guid="5F952F1D-A4B3-4B8C-96AC-098D09133A63"
							   KeyPath="yes">
						<File Id="TunnelExHelp.url"
							  Name="TunnelEx Help.url"
							  Source="$(var.SolutionDir)TunnelEx Help.url"
							  DiskId="1"
							  Vital="no" />
					</Component>
					<Component Id="License"
							   Guid="C0ED3AD2-6558-11DF-B9B5-056DDFD72085"
							   KeyPath="yes">
						<File Id="License.txt"
							  Name="License.txt"
							  Source="$(var.SolutionDir)..\License.txt"
							  DiskId="1"
							  Vital="no" />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="ProgramMenuFolder" Name="PMenu">
				<Directory Id="ProgramMenuDir" Name="$(var.ProductName)">
					<Component Id="ControlCenterPMenuShortcut"
							   Guid="E69216CB-8A0E-49E9-A364-48A61ADCACE8">
						<RegistryValue Root="HKCU"
									   Key="Software\$(var.ProductName)\Shortcuts"
									   Type="string"
									   Value=""
									   Name="ControlCenterPMenu"
									   KeyPath="yes" />
						<Shortcut Id="ControlCenterPMenuShortcut"
								  Directory="ProgramMenuDir"
								  WorkingDirectory="INSTALLDIR"
								  Name="$(var.ProductName) Control Center"
								  Target="[!TunnelExControlCenter$(var.TexFileNameSuffix).exe]"/>
						<RemoveFolder Id="RemoveControlCenterPMenuShortcutDir"
									  Directory="ProgramMenuDir"
									  On="uninstall" />
					</Component>
					<Component Id="UninstallPMenuShortcut"
							   Guid="1012F11C-45BF-4727-849D-D906E8599FF9">
						<CreateFolder />
						<RegistryValue Root="HKCU"
									   Key="Software\$(var.ProductName)\Shortcuts"
									   Type="string"
									   Value=""
									   Name="UninstallPMenu"
									   KeyPath="yes"/>
						<Shortcut Id="InvokeRemove"
								  Name="Uninstall $(var.ProductName)"
								  Target="[UNINSTALL_CMD]"
								  Arguments="[UNINSTALL_ARGS]"
								  WorkingDirectory="SystemDir"
								  Directory="ProgramMenuDir"
								  Description="Uninstall" />
						<RemoveFolder Id="RemoveUninstallPMenuShortcutDir"
									  Directory="ProgramMenuDir"
									  On="uninstall" />
					</Component>
					<Component Id="ProgramHelpPMenuShortcut"
							   Guid="4B987C32-0B74-11DD-A20E-115555D89593">
						<RegistryValue Root="HKCU"
									   Key="Software\$(var.ProductName)\Shortcuts"
									   Type="string"
									   Value=""
									   Name="HelpPMenu"
									   KeyPath="yes" />
						<Shortcut Id="ProgramHelpPMenuShortcut"
								  Name="TunnelEx Help"
								  Directory="ProgramMenuDir"
								  Target="[!TunnelExHelp.url]"/>
						<RemoveFolder Id="RemoveHelpShortcutDir"
									  Directory="ProgramMenuDir"
									  On="uninstall" />
					</Component>
					<Component Id="WebSiteShortcutPMenuShortcut"
							   Guid="17D858AE-0115-11DD-98A1-131656D89593">
						<RegistryValue Root="HKCU"
									   Key="Software\$(var.ProductName)\Shortcuts"
									   Type="string"
									   Value=""
									   Name="WebSiteShortcutPMenu"
									   KeyPath="yes" />
						<Shortcut Id="WebSiteShortcutPMenuShortcut"
								  Name="TunnelEx Web Site"
								  Directory="ProgramMenuDir"
								  Target="[!TunnelExWebSite.url]"/>
						<Shortcut Id="ProgramHelpShortcutPMenuShortcut"
								  Name="TunnelEx Help"
								  Directory="ProgramMenuDir"
								  Target="[!TunnelExHelp.url]"/>
						<RemoveFolder Id="RemoveWebSiteShortcutShortcutDir"
									  Directory="ProgramMenuDir"
									  On="uninstall" />
					</Component>
				</Directory>
			</Directory>
			<Directory Id="DesktopFolder" Name="Desktop">
				<Component Id="ControlCenterDesktopShortcut"
						   Guid="92E4BE0F-C84E-41DB-904D-4C6157DB4306">
					<RegistryValue Root="HKCU"
								   Key="Software\$(var.ProductName)\Shortcuts"
								   Type="string"
								   Value=""
								   Name="ControlCenterDesktop"
								   KeyPath="yes" />
					<CreateFolder/>
					<Shortcut Id="ControlCenterDesktopShortcut"
							  Directory="DesktopFolder"
							  WorkingDirectory="INSTALLDIR"
							  Name="$(var.ProductName) Control Center"
							  Target="[!TunnelExControlCenter$(var.TexFileNameSuffix).exe]" />
				</Component>
			</Directory>
		</Directory>
	</Fragment>
</Wix>
