<html>
<body>
    <state name="unknown"><table cellpadding="2" cellspacing="0" border="0" width="100%" bgcolor="RGB(255,175,0)">
            <tr>
                <td><table cellpadding="5" cellspacing="0" border="0" width="100%" bgcolor="RGB(255,245,195)">
                    <tr>
                        <td><font face="Arial" color="RGB(60,60,60)"><description /></font></td>
                        <td width="1"><img src="x.gif" height="26" width="1" alt="" /></td>
                    </tr>
                </table></td>
            </tr>
        </table></state>
    <state name="warning"><table cellpadding="2" cellspacing="0" border="0" width="100%" bgcolor="RGB(255,175,0)">
            <tr>
                <td><table cellpadding="5" cellspacing="0" border="0" width="100%" bgcolor="RGB(255,245,195)">
                    <tr>
                        <td><font face="Arial" color="RGB(60,60,60)"><description /></font></td>
                        <td width="1"><img src="x.gif" height="26" width="1" alt="" /></td>
                        <td width="95" valign="middle" align="right"><a href="serviceLogShow"><font face="Arial" color="RGB(60,60,60)" size="-1"><b>Show log</b></font></a> <a href="clearState"><font face="Arial" color="RGB(60,60,60)" size="-1"><b>Clear</b></font></a></td>
                    </tr>
                </table></td>
            </tr>
        </table></state>
    <state name="started"><table cellpadding="2" cellspacing="0" border="0" width="100%" bgcolor="RGB(0,174,0)">
            <tr>
                <td><table cellpadding="5" cellspacing="0" border="0" width="100%" bgcolor="RGB(176,255,176)">
                    <tr>
                        <td><font face="Arial" color="RGB(60,60,60)"><description /></font></td>
                        <td width="1"><img src="x.gif" height="26" width="1" alt="" /></td>
                        <td width="58" valign="middle" align="right"><a href="serviceStop"><font face="Arial" color="RGB(60,60,60)" size="-1"><b>Stop</b></font></a></td>
                    </tr>
                </table></td>
            </tr>
        </table></state>
    <state name="stopped"><table cellpadding="2" cellspacing="0" border="0" width="100%" bgcolor="RGB(128,128,128)">
            <tr>
                <td><table cellpadding="5" cellspacing="0" border="0" width="100%" bgcolor="RGB(230,230,230)">
                    <tr>
                        <td><font face="Arial" color="RGB(60,60,60)"><description /></font></td>
                        <td width="1"><img src="x.gif" height="26" width="1" alt="" /></td>
                        <td width="58" valign="middle" align="right"><a href="serviceStart"><font face="Arial" color="RGB(60,60,60)" size="-1"><b>Start</b></font></a></td>
                    </tr>
                </table></td>
            </tr>
        </table></state>
    <state name="error"><table cellpadding="2" cellspacing="0" border="0" width="100%" bgcolor="RGB(255,0,0)">
            <tr>
                <td><table cellpadding="5" cellspacing="0" border="0" width="100%" bgcolor="RGB(255,200,200)">
                    <tr>
                        <td><font face="Arial" color="RGB(60,60,60)"><description /></font></td>
                        <td width="1"><img src="x.gif" height="26" width="10" alt="" /></td>
                        <td width="95" valign="middle" align="right"><a href="serviceLogShow"><font face="Arial" color="RGB(60,60,60)" size="-1"><b>Show log</b></font></a> <a href="clearState"><font face="Arial" color="RGB(60,60,60)" size="-1"><b>Clear</b></font></a></td>
                    </tr>
                </table></td>
            </tr>
        </table></state>
    <state name="changed"><table cellpadding="2" cellspacing="0" border="0" width="100%" bgcolor="RGB(0,162,255)">
            <tr>
                <td><table cellpadding="5" cellspacing="0" border="0" width="100%" bgcolor="RGB(171,213,255)">
                    <tr>
                        <td><font face="Arial" color="RGB(60,60,60)"><description /></font></td>
                        <td width="1"><img src="x.gif" height="26" width="10" alt="" /></td>
                        <td width="150" valign="middle" align="right"><a href="applyChanges"><font face="Arial" color="RGB(60,60,60)" size="-1"><b>Apply</b></font></a>&nbsp;<a href="cancelChanges"><font face="Arial" color="RGB(60,60,60)" size="-1"><b>Cancel</b></font></a></td>
                    </tr>
                </table></td>
            </tr>
        </table></state>
</body>
</html>
